{% extends 'base.html' %}

{% block content %}
  <h1>{{ title }}</h1>
  
  <div class="sample">
    <img src="{{ url_for('static', filename='images/' + book.img) }}" alt="{{ book.title }}" title="{{ book.title }}">
    <h1>{{ book.title }}</h1>
    <a href="{{ url_for('detail_author', id=book.author.id) }}">{{ book.author.name }}</a>
    <p><i>{{ book.price }}€</i></p>
    <a href="{{book.url}}">Buy on Amazon</a>
    
    {% if current_user.is_authenticated %}
        {% if book in current_user.favorite_books %}
            <form action="{{ url_for('remove_favorite', book_id=book.id) }}" method="POST" class="button-container">
                <button type="submit" class="btn-favorite-remove">Remove from Favorites</button>
            </form>
        {% else %}
            <form action="{{ url_for('add_favorite', book_id=book.id) }}" method="POST" class="button-container">
                <button type="submit" class="btn-favorite-add">Add to Favorites</button>
            </form>
        {% endif %}
    {% endif %}
  </div>
{% endblock %}
