{% block card %}

<div class="card m-2 text-start" style="width: 15rem; height:36rem">
    <img class="card-img-top img-fluid" style="height:20rem; overflow: hidden;" src="{{ url_for('static', filename='images/' + x.img) }}" alt="{{ x.title }}">
    <div class="card-body">
        <h5 class="card-title" style="min-height: 4rem; line-height: 1.2;">{{ x.title }}</h5>
        <p class="card-text" style="min-height: 2rem; line-height: 1.2;">Author: {{ x.author.name }}</p>
        <p class="card-text">Price: {{ x.price }}€ </p>
    </div>
        
    <div class="card-body text-start d-flex">
        
        
        {% if current_user.is_authenticated%}
            {% if x in current_user.favorite_books %}
            <form action="{{ url_for('remove_favorite', book_id=x.id, next=request.path)}}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <a href="{{ url_for('detail_book', id=x.id) }}" class="btn btn-primary material-icons">open_in_new</a>
                <button type="submit" class="btn btn-danger material-icons">bookmark_remove</button>
            </form>      
            {% else %}
            <form action="{{ url_for('add_favorite', book_id=x.id, next=request.path)}}" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <a href="{{ url_for('detail_book', id=x.id) }}" class="btn btn-primary material-icons">open_in_new</a>
                <button type="submit" class="btn btn-warning material-icons">bookmark_add</button>
            </form>                   
            {% endif %}

        {% else %}
            <a href="{{ url_for('detail_book', id=x.id) }}" class="btn btn-primary material-icons">open_in_new</a>
        {% endif %}
    </div>
</div>

{% endblock %}