{% extends 'base.html' %}

{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
{% endblock %}

{% block content %}
  <h1>{{ title }}</h1>
  
  <div class="card mb-3">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{ url_for('static', filename='images/' + book.img) }}" class="img-fluid rounded-start" style="height: 100%; width: 100%; object-fit: cover;" alt="{{ book.title }}">
      </div>

      <div class="col-md-8">
        <div class="card-body">
          <h4 class="card-title">{{ book.title }}</h5>
          <a class="card-text" href="{{ url_for('detail_author', id=book.author.id) }}">{{ book.author.name }}</a>
          <p class="card-text">Price: {{ book.price }}€</p>

          <h5 class="card-title">Ratings: </h5>
          <p class="card-text">Average Rating: {{ average_rating }}</p>
          {% if current_user.is_authenticated %}
            <p class="card-text">Your Rating: {{ user_rating if user_rating else 'Not rated yet' }} / 5 </p>

            <form class="card-text mb-2" action="{{ url_for('rate_book', book_id=book.id) }}" method="POST">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
              
              <div class="btn-group" aria-label="Basic example">
                <button type="submit" name="rating" value="1" class="btn btn-warning">1</button>
                <button type="submit" name="rating" value="2" class="btn btn-warning">2</button>
                <button type="submit" name="rating" value="3" class="btn btn-warning">3</button>
                <button type="submit" name="rating" value="4" class="btn btn-warning">4</button>
                <button type="submit" name="rating" value="5" class="btn btn-warning">5</button>
              </div>
            </form>
          {% endif %}
          
          <h5 class="card-title">Actions: </h5>
          <div class="d-flex">
            {% if current_user.is_authenticated %}
              {% if book in current_user.favorite_books %}
                <form action="{{ url_for('remove_favorite', book_id=book.id) }}" method="POST" class="button-container">
                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                  <button type="submit" style="margin-right: 10px" class="btn btn-danger">Remove from Favorites</button>
                </form>
              {% else %}
                <form action="{{ url_for('add_favorite', book_id=book.id) }}" method="POST" class="button-container">
                  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                  <button type="submit" style="margin-right: 10px" class="btn btn-primary">Add to Favorites</button>
                </form>
              {% endif %}
            {% endif %}
            
            <a href="{{ book.url }}" class="btn btn-warning">Buy on Amazon</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h3>Commentaires</h3>
  <div class="comment-section">
    {% for comment in comments %}
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">{{ comment.user_id }} a noté {{ comment.rating }} / 5</h5>
          <p class="card-text">{{ comment.content }}</p>
          <p class="text-muted">Posté le {{ comment.timestamp.strftime('%Y-%m-%d %H:%M') }}</p>
        </div>
      </div>
    {% else %}
      <p>Aucun commentaire pour ce livre.</p>
    {% endfor %}
  </div>
  {% if current_user.is_authenticated %}
    <h3>Laissez un commentaire</h3>
    <form action="{{ url_for('detail_book', id=book.id) }}" method="POST" class="p-3 bg-light rounded shadow-sm">
      {{ form.hidden_tag() }}
    
      <div class="mb-3">
        <label for="rating" class="form-label fw-bold">Votre note (1-5):</label>
        {{ form.rating(class="form-select w-auto d-inline-block") }}
      </div>
    
      <div class="mb-3">
        <label for="content" class="form-label fw-bold">Votre commentaire:</label>
        {{ form.content(class="form-control", placeholder="Votre commentaire...") }}
      </div>
    
      <button type="submit" class="btn btn-success">Soumettre</button>
    </form>
  {% else %}
    <p>Veuillez <a href="{{ url_for('login') }}">vous connecter</a> pour laisser un commentaire.</p>
  {% endif %}
{% endblock %}
