{% extends 'base.html' %}
{% block styles %}
  {{ super() }}
  <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
{% endblock %}

{% block content %}
  <h1>{{ title }}</h1>
  <div class="sample d-flex flex-wrap">
    {% for x in books %}
      {% include 'book-card.html' %}
    {% endfor %}
  </div>

  <div class="d-flex justify-content-center mb-4">
    <div class="btn-group">
      {% for x in pages %}
        <a href="{{url_for('home', page=x)}}" class="btn btn-primary">{{ x }}</a>
      {% endfor %}
    </div>
  </div>
{% endblock %}
